.product-page {
  padding-top: 154px;
  &__container {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__top {
    display: flex;
    gap: 30px;
  }
  &__info {
    width: 50%;
  }
  &__title {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  &__price {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #1d4ed8;
  }
  &__subtitle {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    &_mb {
      margin-bottom: 0.5rem;
    }
    &_mt {
      margin-top: 1rem;
    }
  }
}
.product-slider {
  width: 50%;
  &__root {
    position: relative;

    max-height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1rem;
    img {
      width: 100%;
      display: block;
    }
    margin-bottom: 1rem;
  }
  &__row {
    display: flex;
    gap: 1rem;
  }
  &__img {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
    object-fit: cover;
    cursor: pointer;
    &_active {
      border: 0.25rem solid #1d4ed8;
    }
  }
  &__btn {
    position: absolute;
    background: #ea580c;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    svg {
      width: 20px;
      height: 20px;
    }
    &_prev {
      left: 1rem;
    }
    &_next {
      right: 1rem;
    }
    opacity: 0.7;
    transition: opacity 0.2s;
    &:hover {
      opacity: 1;
    }
  }
}

.product-page-table {
  display: flex;
  flex-direction: column;
  h3 {
    padding: 0.5rem 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: normal;
    color: #fff;
    background: #1d4ed8;
    text-align: center;
    width: 100%;
  }
  table {
    border-collapse: collapse;
    tr {
      background: #eff6ff;
      border-bottom: 1px solid #cce2ff;
      &:last-child {
        border-bottom: none;
      }
    }
    td {
      padding: 0.5rem 1rem;
      width: 50%;
      border: none;
    }
  }
}

@media screen and (max-width: 550px) {
  .product-page {
    padding-top: 103px;
  }
}
