.review {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #1d4ed8;
  min-height: 8rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 18px;
  }
  &__date {
    font-weight: normal;
    color: #44403c;
  }
  &__rating {
    margin-top: 0.25rem;
  }
  &__text {
    white-space: pre-line;
  }
}
