.product-card {
  background: #eff6ff;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  &__badge {
    position: absolute;
    left: 2rem;
    top: 2rem;
    background: #ea580c;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat';
  }
  &__image {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 1rem;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    flex-wrap: wrap;
    h3 {
      font-weight: 400;
      font-size: 1.5rem;
    }
  }
  &__price {
    color: #1d4ed8;
  }
  &__description {
    margin-bottom: 1rem;
  }
  &__btn {
    align-self: flex-end;
  }
}

@media screen and (max-width: 1056px) {
  .product-card {
    &__image {
      height: 180px;
    }
    &__row {
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 767.98px) {
  .product-card {
    &__image {
      height: 280px;
    }
    &__row {
      flex-direction: row;
    }
  }
}
@media screen and (max-width: 550px) {
  .product-card {
    &__image {
      height: 220px;
    }
    &__row {
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 425px) {
  .product-card {
    &__image {
      height: 180px;
    }
  }
}
