.logo {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
  img {
    height: 48px;
    width: 48px;
  }
  &__top {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    h3 {
      font-size: 1.5rem;
      color: inherit;
    }
  }
  h5 {
    font-weight: normal;
    font-size: 1rem;
    color: inherit;
  }
}
@media screen and (max-width: 424.98px) {
  .logo {
    h3 {
      font-size: 1.25rem;
    }
    h5 {
      font-size: 14px;
    }
  }
}
