.reviews {
  &__item {
    width: 350px;
    flex-shrink: 0;
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
}

.reviews-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__body {
    display: flex;
    gap: 1rem;
    overflow: hidden;
    width: 100%;
    @media screen and (max-width: 800px) {
      width: calc(100% - 2rem);
    }
  }
  &__button {
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #ea580c;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    transition: opacity 0.2s;
    opacity: 0.5;
    z-index: 5;
    &_next {
      @media screen and (max-width: 800px) {
        right: 0rem;
      }
      right: -1rem;
    }
    &_prev {
      @media screen and (max-width: 800px) {
        left: 0;
      }
      left: -1rem;
      svg {
        transform: rotate(180deg);
      }
    }
    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .reviews {
    &__grid {
      grid-template-columns: 1fr;
    }
  }
}
