.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 0;
  top: 0;
  &__nav {
    display: flex;
    a {
      flex: 1;
      color: #fff;
      text-decoration: none;
      text-align: center;
      padding: 1rem 0;
    }
  }
  &__burger {
    display: none;
  }
}

.header-top {
  background: #1d4ed8;
  padding: 1.5rem 0;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }
}

.header-bottom {
  background: #1e40af;
}

.header-phones {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  @media screen and (max-width: 767.98px) {
    display: none;
  }
  &__item {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    color: #fff;
  }
}
@media screen and (max-width: 600px) {
  .header {
    &__burger {
      background: none;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      width: 2rem;
      height: 1.5rem;
      border: none;
      span {
        height: 3px;
        background: #fff;
        transition: transform 0.3s ease-in-out;
      }
      position: relative;
      &_active {
        span {
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          &:nth-child(1) {
            transform: translateY(-50%) rotate(-45deg);
          }
          &:nth-child(2) {
            transform: translateY(-50%) rotate(45deg);
          }
          &:nth-child(3) {
            transform: scale(0);
          }
        }
      }
    }
    &__nav {
      display: flex;
      flex-direction: column;
      max-height: 0;
      transition: max-height 0.3s ease-in-out;
      overflow: hidden;
      .btn {
        align-self: center;
        margin-bottom: 1rem;
      }
      &_active {
        max-height: 1000px;
      }
    }
  }
}
