.popular {
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  &__item {
    width: 368px;
  }
}
@media screen and (max-width: 1202px) {
  .popular {
    flex-direction: column;
    &__item {
      width: 360px;
    }
  }
}
@media screen and (max-width: 550px) {
  .popular {
    flex-direction: column;
    &__item {
      width: 100%;
    }
  }
}
