*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Roboto', system-ui, -apple-system, sans-serif;
  color: #44403c;
  font-size: 16px;
}

button {
  font-family: 'Roboto', system-ui, -apple-system, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  color: #1c1917;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  display: inline-flex;
  background: #ea580c;
  color: #fff;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  &_o {
    background: none;
    border: 1px solid #ea580c;
    color: #ea580c;
  }
}

.section {
  padding: 2rem 0;
}

@media screen and (max-width: 1202px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1056px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}
